<div id="<%= dom_id contact %>">
      <td><%= link_to contact.first_name + ' ' + contact.last_name, contact %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.twitter %></td>
      <td><%= button_to "Delete", contact, method: :delete, class:"btn btn-outline-danger btn-sm" %></td>
</div>
 